global:
  imagePullPolicy: Always
  imagePullSecrets: []

services:
  api-gateway:
    image: postuvantina/api-gateway:latest
    ports:
      - name: http
        containerPort: 9000
        servicePort: 9000
    healthPath: /health

  auth-service:
    image: postuvantina/auth-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
    healthPath: /health

  user-service:
    image: postuvantina/user-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
    healthPath: /health
  offer-service:
    image: postuvantina/offer-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
    healthPath: /health

  partner-service:
    image: postuvantina/partner-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
      - name: grpc
        containerPort: 50051
        servicePort: 50051
    healthPath: /health

  order-service:
    image: postuvantina/order-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
      - name: grpc
        containerPort: 50051
        servicePort: 50051
    healthPath: /health

  # REST payment API (if you use it)
  payment-service:
    image: postuvantina/payment-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
    healthPath: /health

  # gRPC payment server (same image, different command)
  payment-grpc:
    image: postuvantina/payment-service:latest
    command: ["python", "-m", "app.grpc_server"]
    ports:
      - name: grpc
        containerPort: 50051
        servicePort: 50051
    healthPath: /health
  
  # REST Notification API (frontend polls this)
  notification-service:
    image: postuvantina/notification-service:latest
    ports:
      - name: http
        containerPort: 8000
        servicePort: 8000
    healthPath: /health

  # RabbitMQ consumer (same image, different command)
  notification-consumer:
    image: postuvantina/notification-service:latest
    command: ["python", "-m", "app.rabbitmq_consumer"]
    ports:
      - name: dummy
        containerPort: 8000
        servicePort: 8000
    healthPath: /health

  frifood-frontend:
    image: postuvantina/frifood-frontend:latest
    ports:
      - name: http
        containerPort: 80
        servicePort: 80
    healthPath: /

ingress:
  enabled: true
  className: nginx
  host: fri-food.local
  paths:
    # gateway stays normal (no rewrite needed)
    - path: /?(.*)
      serviceName: api-gateway
      servicePort: 9000

    # rewrite /users/... -> /...
    - path: /users(/|$)(.*)
      serviceName: user-service
      servicePort: 8000

    # rewrite /orders/... -> /...
    - path: /orders(/|$)(.*)
      serviceName: order-service
      servicePort: 8000
    
    - path: /notifications(/|$)(.*)
      serviceName: notification-service
      servicePort: 8000


ingressHosts:
  enabled: true
  hosts:
    users: users.fri-food.local
    orders: orders.fri-food.local
    payments: payments.fri-food.local
    offers: offers.fri-food.local
    partners: partners.fri-food.local
    frontend: fri-food.local
    notifications: notifications.fri-food.local

config:
  common:
    RABBITMQ_HOST: "rabbitmq"
    KEYCLOAK_BASE_URL: "http://keycloak:8080"

  auth-service:
    FLASK_PORT: "8000"

  api-gateway:
    ORDER_SERVICE_URL: "http://order-service:8000"
    PAYMENT_SERVICE_URL: "http://payment-service:8000"
    PAYMENT_SERVICE_HOST: "payment-service"
    PAYMENT_SERVICE_PORT: "8000"

  user-service:
    ORDERS_GRPC_HOST: "order-service"
    ORDERS_GRPC_PORT: "50051"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "user_service"

  offer-service:
    PARTNER_GRPC_HOST: "partner-service"
    PARTNER_GRPC_PORT: "50051"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "offer_service"

  partner-service:
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "partner_service"

  order-service:
    PAYMENT_GRPC_HOST: "payment-grpc"
    PAYMENT_GRPC_PORT: "50051"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "order_service"

  payment-service:
    PAYMENT_GRPC_HOST: "payment-grpc"
    PAYMENT_GRPC_PORT: "50051"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "payment_service"

  payment-grpc:
    PYTHONPATH: "/app"
    PAYMENT_GRPC_HOST: "payment-grpc"
    PAYMENT_GRPC_PORT: "50051"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "payment_service"
  
  notification-service:
    RABBITMQ_HOST: "rabbitmq"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "notification_service"

  notification-consumer:
    RABBITMQ_HOST: "rabbitmq"
    PAYMENT_CONFIRMED_QUEUE: "payment_confirmed"
    PGHOST: "rso-server.postgres.database.azure.com"
    PGUSER: "rsoAdmin123"
    PGDATABASE: "notification_service"


secrets:
  postgres:
    existingSecret: ""
