command:
  - "/opt/keycloak/bin/kc.sh"

args:
  - "start"
  - "--http-enabled=true"
  - "--http-port=8080"
  - "--hostname-strict=false"
  - "--proxy-headers=xforwarded"
  - "--import-realm"

startupProbe: |
  httpGet:
    path: /auth/health
    port: http-internal
  initialDelaySeconds: 90
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 60

readinessProbe: |
  httpGet:
    path: /auth/health/ready
    port: http-internal
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 12

livenessProbe: |
  httpGet:
    path: /auth/health/live
    port: http-internal
  initialDelaySeconds: 120
  periodSeconds: 20
  timeoutSeconds: 5
  failureThreshold: 6

resources:
  requests:
    memory: 768Mi
    cpu: 150m
  limits:
    memory: 768Mi
    cpu: 750m
